# **C281050 송인성**

# **컴프리헨션**
## **컴프리헨션(Comprehension)**
- 패턴이 있는 리스트, 딕셔너리, 세트를 간단하게 작성할 수 있는 파이썬만의 고유한 문법
- 정식 for문이나if문을 사용하지 않고 반복적인 데이터 패턴을 생성할 수 있음

## **리스트 컴프리헨션**
- 컴프리헨션을 이용하여 리스트를 생성하는 방법

### **리스트 컴프리헨션을 사용한 리스트 생성**
- [표현식 for 항목 in 반복가능객체]

In [9]:
# 1부터 5까지 순차적으로 num에 대입하고, num+10을 리스트에 추가
nums_comp = [num+10 for num in range(1, 6)]
print(f'{nums_comp = }')    # 리스트 출력

nums_comp = [11, 12, 13, 14, 15]

### **for문을 사용한 리스트 생성과 비교**

In [10]:
# 숫자를 담을 수 있는 빈 리스트 생성
nums_for = []

# 1부터 5까지 순차적으로 num에 대입
for num in range(1, 6):
    # append() 함수로 리스트에 num+10 추가
    nums_for.append(num+10)

# 리스트 출력
print(f'{nums_for = }')

nums_for = [11, 12, 13, 14, 15]

### **map 함수를 사용한 리스트 생성과 비교**
- map 함수도 비슷한 기능을 수행할 수 있으나, 컴프리헨션은 map 함수보다 더 직관적임
    - map(함수, 리스트) 함수는 리스트나 튜플 자료형의 각 요소를 지정된 함수로 처리해주는 함수

In [11]:
# 입력한 숫자에 10을 더하는 함수를 정의
def add_ten(num):
    return num + 10

# 함수 테스트
add_ten(5)

15

In [12]:
# map 함수의 동작 확인 -> map 객체가 반환됨
map(add_ten, [1, 2, 3, 4, 5])

In [13]:
# map 객체를 리스트로 변환
list(map(add_ten, [1, 2, 3, 4, 5]))

[11, 12, 13, 14, 15]

In [14]:
# map을 적용하여 컴프리헨션과 동일한 결과를 얻을 수 있음
nums_map = list(map(add_ten, range(1, 6)))
print(f'{nums_map = }')

nums_map = [11, 12, 13, 14, 15]

### **수식을 적용한 리스트 컴프리헨션**
- 표현식에 수식을 적용할 수 있음

In [15]:
# 1부터 5까지 순차적으로 num에 대입하고
# num에 2를 곱하고 1을 뺀 값을 리스트에 추가
nums_math = [num * 2 - 1 for num in range(1, 6)]
print(f'{nums_math = }')

nums_math = [1, 3, 5, 7, 9]

### **함수를 적용한 리스트 컴프리헨션**
- 표현식에 함수를 적용할 수 있음

In [16]:
# 입력한 데이터를 문자열로 변환하고 'Int_'를 앞에 붙이는 함수 정의
def addString(x):
    return 'Int_' + str(x)

# 1부터 5까지 순차적으로 num에 대입하고,
# num을 addString() 함수에 대입한 결과를 리스트에 추가

nums_func = [addString(num) for num in range(1, 6)]
print(f'{nums_func = }')    # 리스트 출력

nums_func = ['Int_1', 'Int_2', 'Int_3', 'Int_4', 'Int_5']

## **if 조건문을 적용한 리스트 컴프리헨션**
- if문만 쓸 때는 for문 오른쪽에, if else문을 쓸때는 for문 왼쪽에 작성

In [17]:
# 1부터 5까지 순차적으로 num에 대입하고, 
# num이 홀수이면 리스트에 추가
nums_odds = [num for num in range(1, 6) if num % 2 == 1]
print(f'{nums_odds = }')

nums_odds = [1, 3, 5]

In [18]:
# 1부터 5까지 순차적으로 num에 대입하고, 
# num이 홀수이면 리스트에 그 값을 추가하고 아니면 0을 추가
nums_odds_zero = [num if num % 2 == 1 else 0 for num in range(1, 6)]
print(f'{nums_odds_zero = }')

nums_odds_zero = [1, 0, 3, 0, 5]

- 여러 개의 if 조건문을 중첩 가능

In [19]:
# 1부터 5까지 순차적으로 num에 대입하고,
# num이 홀수이면서 4보다 작으면 리스트에 축가
nums_odds_less4 = [num for num in range(1, 6) if num % 2 == 1 if num < 4]
print(f'{nums_odds_less4 = }')

nums_odds_less4 = [1, 3]

## **중첩된 리스트 컴프리헨션**
- 컴프리헨션은 내부에서 for 키워드와 if 키워드를 몇 번이고 반복할 수 있음

In [20]:
# 1부터 2까지 순차적으로 x에 대입하고,
# 1부터 2까지 순차적으로 y에 대입하여 (x, y)를 리스트에 추가
# 앞의 for문이 먼저 실행되고, 뒤의 for문이 실행됨
nums_pairs = [(x, y) for x in range(1, 3) for y in ['a', 'b', 'c']]
print(f'{nums_pairs = }')

nums_pairs = [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

In [21]:
# 1부터 5까지 순차적으로 x에 대입하고,
# 1부터 5까지 순차적으로 y에 대입하여
# x+y가 5이면 (x, y)를 리스트에 추가
num_pairs_sum5 = [(x, y) for x in range(1, 6) for y in range(1, 6) if x + y == 5]
print(f'{num_pairs_sum5 = }')

num_pairs_sum5 = [(1, 4), (2, 3), (3, 2), (4, 1)]

## **딕셔너리 컴프리헨션**
- 리스트 컴프리헨션과 거의 동일한 방식으로 딕셔너리 컴프리헨션을 사용할 수 있음

In [22]:
ids = [1, 2, 3, 4]
student_names = ['김홍익', '이컴프리', '박헨션', '최딕션']

# 중첩된 for문으로는 정상적으로 딕셔너리를 생성할 수 없음
students_for = {id:name for id in ids for name in student_names}

# 딕셔너리 출력
print(f'{students_for = }')

students_for = {1: '최딕션', 2: '최딕션', 3: '최딕션', 4: '최딕션'}

In [23]:
student_names = ['김홍익', '이컴프리', '박헨션', '최딕션']

# enumerate() 함수로 인덱스와 값을 동시에 가져옴
students_enumerate = {id:name for id, name in enumerate(student_names)}
print(f'{students_enumerate = }')

students_enumerate = {0: '김홍익', 1: '이컴프리', 2: '박헨션', 3: '최딕션'}

In [24]:
ids = [1, 2, 3, 4]
student_names = ['김홍익', '이컴프리', '박헨션', '최딕션']

# zip() 함수로 두 리스트를 병렬로 가져옴
students_zip = {id:name for id, name in zip(ids, student_names)}
print(f'{students_zip = }')

students_zip = {1: '김홍익', 2: '이컴프리', 3: '박헨션', 4: '최딕션'}

## **Set 컴프리헨션**
- 리스트 컴프리헨션과 거의 동일한 방식으로 세트 컴프리헨션을 사용할 수 있음
- set 기호인 {}를 사용하여 세트 컴프리헨션을 작성

In [25]:
# 1부터 5까지 순차적으로 x에 대입하고,
# 1부터 5까지 순차적으로 y에 대입하여 x+y에 대한 리스트 생성
sum_list = [x+y for x in range(1, 6) for y in range(1, 6)]

# 리스트 출력. 중복된 값이 있음
print(f'{sum_list = }')

# 1부터 5까지 순차적으로 x에 대입하고,
# 1부터 5까지 순차적으로 y에 대입하여 x+y에 대한 set 생성
sum_set = {x+y for x in range(1, 6) for y in range(1, 6)}

# set 출력. 중복된 값이 없음
print(f'{sum_set = }')

sum_list = [2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 6, 7, 8, 9, 10]
sum_set = {2, 3, 4, 5, 6, 7, 8, 9, 10}

## **tuple 컴프리헨션**
- 튜플 컴프리헨션은 튜플로 반환되는 것이 아니라 제너레이터로 반환됨

    - 제너레이터는 이터레이터를 생성해주는 함수
        - range() 함수와 같이 매번 다음 값을 생성해주는 함수
    - 시퀀스 객체를 통째로 메모리에 생성하지 않고, 필요한 시점에 데이터를 생성하므로 메모리를 효율적으로 사용하기 위해 사용

In [26]:
# 1부터 2까지 순차적으로 x에 대입하고,
# 1부터 2까지 순차적으로 y에 대입하여 (x, y)를 리스트에 추가
# 앞의 for문이 먼저 실행되고, 뒤의 for문이 실행됨
nums_pairs_list = [(x, y) for x in range(1, 3) for y in ['a', 'b', 'c']]

# 리스트 출력
print(f'{nums_pairs_list = }\n')

# tuple로 컴프리헨션 적용
nums_pairs_tuple = ((x, y) for x in range(1, 3) for y in ['a', 'b', 'c'])

# 제너레이터 객체가 생성됨
print(f'{nums_pairs_tuple = }')

# 튜플로 변환
print(f'{tuple(nums_pairs_tuple) = }\n')

# 한번에 튜플로 컴프리헨션 적용
nums_pairs_tuple2 = tuple((x, y) for x in range(1, 3) for y in ['a', 'b', 'c'])
print(f'{nums_pairs_tuple2 = }')

nums_pairs_list = [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

nums_pairs_tuple = <generator object <genexpr> at 0x0000026946502DC0>
tuple(nums_pairs_tuple) = ((1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'))

nums_pairs_tuple2 = ((1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'))

## 응용

### 컴프리헨션

### 리스트 컴프리헨션
#### 리스트 컴프리헨션을 사용한 리스트 생성
- [표현식 for 항목 in 반복가능개체]

In [27]:
# 1부터 5까지 순차적으로 num에 대입하고, num + 10을 리스트에 추가

nums_comp = (num + 10 for num in range(1, 6))
print(f'{nums_comp = }')

nums_comp = <generator object <genexpr> at 0x0000026946A5E810>

In [28]:
# 1부터 10까지 숫자의 제곱을 리스트로 생성

nums_math = [num ** 2 for num in range(1, 11)]
print(f'{nums_math = }')

nums_math = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
# 1부터 10까지 짝수만 골라서 100을 더한 값을 리스트로 생성

nums_math = [num + 100 for num in range(1, 11) if num % 2 == 0]
print(f'{nums_math = }')

nums_math = [102, 104, 106, 108, 110]

#### for문을 사용한 리스트 생성과 비교

In [30]:
# 숫자를 담을 수 있는 튜플 생성
nums_comp = ()

# 1부터 5까지 순차적으로 num에 대입

for num in range(1, 6):
    # append() 함수로 튜플에 num + 10을 추가
    try:
        nums_comp.append(num + 10)
    except AttributeError as e:
        print(f'Error: {e}')
        break

# 튜플 출력
print(f'{nums_comp = }')

Error: 'tuple' object has no attribute 'append'
nums_comp = ()

In [ ]:
# 숫자를 담을 수 있는 리스트 생성
nums_math = []

# 1부터 10까지 순차적으로 num에 대입
for num in range(1, 11):
    # append() 함수로 리스트에 num ** 2를를 추가
    nums_math.append(num ** 2)

# 리스트 출력
print(f'{nums_math = }')

nums_math = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
# 숫자를 담을 수 있는 리스트 생성
nums_math = []

# 1부터 10까지 순차적으로 num에 대입
for num in range(1, 11):
    # if문으로 num % 2 == 0일 때만 num + 100를 리스트에 추가
    if num % 2 == 0:
        nums_math.append(num + 100)

# 리스트 출력
print(f'{nums_math = }')

nums_math = [102, 104, 106, 108, 110]

#### map 함수를 사용한 리스트 생성과 비교

In [33]:
# 입력한 숫자에 10을 더하는 함수를 정의
def add_ten(num):
    return num + 10

# map을 적용하여 튜플 생성해보기
nums_map = tuple(map(add_ten, range(1, 6)))
print(f'{nums_map = }')

nums_map = (11, 12, 13, 14, 15)

In [34]:
# 입력한 숫자를 제곱하는 함수를 정의
def square(num):
    return num ** 2

# map을 적용하여 리스트 생성

nums_map = list(map(square, range(1, 11)))
print(f'{nums_map = }')

nums_map = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
# 입력한 숫자에 100을 더하는 함수를 정의
def add_hundred(num):
    return num + 100

# 짝수를 리스트로 생성
even_num = [num for num in range(1, 11) if num % 2 == 0]

# map을 적용하여 리스트 생성
nums_map = list(map(add_hundred, even_num))
print(f'{nums_map = }')

nums_map = [102, 104, 106, 108, 110]

#### 수식을 적용한 리스트 컴프리헨션

In [39]:
# 1부터 10까지 순차적으로 num에 대입하고
# num에 100을 더한 값과 num을 제곱한 값을 더한 값을 리스트에 추가
nums_math = [num ** 2 + (num + 100) for num in range(1, 11)]
print(f'{nums_math = }')

nums_math = [102, 106, 112, 120, 130, 142, 156, 172, 190, 210]

#### 함수를 적용한 리스트 컴프리헨션

In [41]:
# 입력한 데이터를 문자열로 바꾸고 'Hello '를 앞에 붙이는 함수 정의

def addHello(x):
    return 'Hello '+ str(x)

Hello_words = [addHello(word) for word in ['Hongik', 'Student', 'Friend']]
print(f'{Hello_words = }')

Hello_words = ['Hello Hongik', 'Hello Student', 'Hello Friend']

### if 조건문을 적용한 리스트 컴프리헨션

In [42]:
# 1부터 100까지 순차적으로 num에 대입하고
# 1의 자리 수가 3, 6, 9로 끝나면 그 값을 추가
nums_369 = [num for num in range(1, 101) if num % 10 in [3, 6, 9]]
print(f'{nums_369 = }')

nums_369 = [3, 6, 9, 13, 16, 19, 23, 26, 29, 33, 36, 39, 43, 46, 49, 53, 56, 59, 63, 66, 69, 73, 76, 79, 83, 86, 89, 93, 96, 99]

- 여러 개의 if 조건문을 중첩

In [43]:
# 문자열의 길이가 5 이상이고, 'o'를 포함한 것만 출력
words = ['In Seong', 'Hongik', 'Law', "Odd", 'Song']
words_o = [word for word in words if len(word) >= 5 and 'o' in word]
print(f'{words_o = }')

words_o = ['In Seong', 'Hongik']

### 중첩된 리스트 컴프리헨션

In [44]:
# 1부터 10까지 순차적으로 x에 대입하고,
# 1부터 10까지 순차적으로 y에 대입하여 x + y = 10일 때만 (x, y) 추가
num_pairs = [(x, y) for x in range(1, 11) for y in range(1, 11) if x + y == 10]
print(f'{num_pairs = }')

num_pairs = [(1, 9), (2, 8), (3, 7), (4, 6), (5, 5), (6, 4), (7, 3), (8, 2), (9, 1)]

In [ ]:
# 1부터 10까지 순차적으로 x, y, z에 대입하고,
# x + y + z가 짝수일 때만 (x, y, z) 추가
num_triple = [(x, y, z) for x in range(1, 11) for y in range(1, 11) for z in range(1, 11) if (x + y + z) % 2 == 0]
print(f'{num_triple = }')

num_triple = [(1, 1, 2), (1, 1, 4), (1, 1, 6), (1, 1, 8), (1, 1, 10), (1, 2, 1), (1, 2, 3), (1, 2, 5), (1, 2, 7), (1, 2, 9), (1, 3, 2), (1, 3, 4), (1, 3, 6), (1, 3, 8), (1, 3, 10), (1, 4, 1), (1, 4, 3), (1, 4, 5), (1, 4, 7), (1, 4, 9), (1, 5, 2), (1, 5, 4), (1, 5, 6), (1, 5, 8), (1, 5, 10), (1, 6, 1), (1, 6, 3), (1, 6, 5), (1, 6, 7), (1, 6, 9), (1, 7, 2), (1, 7, 4), (1, 7, 6), (1, 7, 8), (1, 7, 10), (1, 8, 1), (1, 8, 3), (1, 8, 5), (1, 8, 7), (1, 8, 9), (1, 9, 2), (1, 9, 4), (1, 9, 6), (1, 9, 8), (1, 9, 10), (1, 10, 1), (1, 10, 3), (1, 10, 5), (1, 10, 7), (1, 10, 9), (2, 1, 1), (2, 1, 3), (2, 1, 5), (2, 1, 7), (2, 1, 9), (2, 2, 2), (2, 2, 4), (2, 2, 6), (2, 2, 8), (2, 2, 10), (2, 3, 1), (2, 3, 3), (2, 3, 5), (2, 3, 7), (2, 3, 9), (2, 4, 2), (2, 4, 4), (2, 4, 6), (2, 4, 8), (2, 4, 10), (2, 5, 1), (2, 5, 3), (2, 5, 5), (2, 5, 7), (2, 5, 9), (2, 6, 2), (2, 6, 4), (2, 6, 6), (2, 6, 8), (2, 6, 10), (2, 7, 1), (2, 7, 3), (2, 7, 5), (2, 7, 7), (2, 7, 9), (2, 8, 2), (2, 8, 4), (2, 8, 6), (2, 8, 8), (2, 8, 10), (2, 9, 1), (2, 9, 3), (2, 9, 5), (2, 9, 7), (2, 9, 9), (2, 10, 2), (2, 10, 4), (2, 10, 6), (2, 10, 8), (2, 10, 10), (3, 1, 2), (3, 1, 4), (3, 1, 6), (3, 1, 8), (3, 1, 10), (3, 2, 1), (3, 2, 3), (3, 2, 5), (3, 2, 7), (3, 2, 9), (3, 3, 2), (3, 3, 4), (3, 3, 6), (3, 3, 8), (3, 3, 10), (3, 4, 1), (3, 4, 3), (3, 4, 5), (3, 4, 7), (3, 4, 9), (3, 5, 2), (3, 5, 4), (3, 5, 6), (3, 5, 8), (3, 5, 10), (3, 6, 1), (3, 6, 3), (3, 6, 5), (3, 6, 7), (3, 6, 9), (3, 7, 2), (3, 7, 4), (3, 7, 6), (3, 7, 8), (3, 7, 10), (3, 8, 1), (3, 8, 3), (3, 8, 5), (3, 8, 7), (3, 8, 9), (3, 9, 2), (3, 9, 4), (3, 9, 6), (3, 9, 8), (3, 9, 10), (3, 10, 1), (3, 10, 3), (3, 10, 5), (3, 10, 7), (3, 10, 9), (4, 1, 1), (4, 1, 3), (4, 1, 5), (4, 1, 7), (4, 1, 9), (4, 2, 2), (4, 2, 4), (4, 2, 6), (4, 2, 8), (4, 2, 10), (4, 3, 1), (4, 3, 3), (4, 3, 5), (4, 3, 7), (4, 3, 9), (4, 4, 2), (4, 4, 4), (4, 4, 6), (4, 4, 8), (4, 4, 10), (4, 5, 1), (4, 5, 3), (4, 5, 5), (4, 5, 7), (4, 5, 9), (4, 6, 2), (4, 6, 4), (4, 6, 6), (4, 6, 8), (4, 6, 10), (4, 7, 1), (4, 7, 3), (4, 7, 5), (4, 7, 7), (4, 7, 9), (4, 8, 2), (4, 8, 4), (4, 8, 6), (4, 8, 8), (4, 8, 10), (4, 9, 1), (4, 9, 3), (4, 9, 5), (4, 9, 7), (4, 9, 9), (4, 10, 2), (4, 10, 4), (4, 10, 6), (4, 10, 8), (4, 10, 10), (5, 1, 2), (5, 1, 4), (5, 1, 6), (5, 1, 8), (5, 1, 10), (5, 2, 1), (5, 2, 3), (5, 2, 5), (5, 2, 7), (5, 2, 9), (5, 3, 2), (5, 3, 4), (5, 3, 6), (5, 3, 8), (5, 3, 10), (5, 4, 1), (5, 4, 3), (5, 4, 5), (5, 4, 7), (5, 4, 9), (5, 5, 2), (5, 5, 4), (5, 5, 6), (5, 5, 8), (5, 5, 10), (5, 6, 1), (5, 6, 3), (5, 6, 5), (5, 6, 7), (5, 6, 9), (5, 7, 2), (5, 7, 4), (5, 7, 6), (5, 7, 8), (5, 7, 10), (5, 8, 1), (5, 8, 3), (5, 8, 5), (5, 8, 7), (5, 8, 9), (5, 9, 2), (5, 9, 4), (5, 9, 6), (5, 9, 8), (5, 9, 10), (5, 10, 1), (5, 10, 3), (5, 10, 5), (5, 10, 7), (5, 10, 9), (6, 1, 1), (6, 1, 3), (6, 1, 5), (6, 1, 7), (6, 1, 9), (6, 2, 2), (6, 2, 4), (6, 2, 6), (6, 2, 8), (6, 2, 10), (6, 3, 1), (6, 3, 3), (6, 3, 5), (6, 3, 7), (6, 3, 9), (6, 4, 2), (6, 4, 4), (6, 4, 6), (6, 4, 8), (6, 4, 10), (6, 5, 1), (6, 5, 3), (6, 5, 5), (6, 5, 7), (6, 5, 9), (6, 6, 2), (6, 6, 4), (6, 6, 6), (6, 6, 8), (6, 6, 10), (6, 7, 1), (6, 7, 3), (6, 7, 5), (6, 7, 7), (6, 7, 9), (6, 8, 2), (6, 8, 4), (6, 8, 6), (6, 8, 8), (6, 8, 10), (6, 9, 1), (6, 9, 3), (6, 9, 5), (6, 9, 7), (6, 9, 9), (6, 10, 2), (6, 10, 4), (6, 10, 6), (6, 10, 8), (6, 10, 10), (7, 1, 2), (7, 1, 4), (7, 1, 6), (7, 1, 8), (7, 1, 10), (7, 2, 1), (7, 2, 3), (7, 2, 5), (7, 2, 7), (7, 2, 9), (7, 3, 2), (7, 3, 4), (7, 3, 6), (7, 3, 8), (7, 3, 10), (7, 4, 1), (7, 4, 3), (7, 4, 5), (7, 4, 7), (7, 4, 9), (7, 5, 2), (7, 5, 4), (7, 5, 6), (7, 5, 8), (7, 5, 10), (7, 6, 1), (7, 6, 3), (7, 6, 5), (7, 6, 7), (7, 6, 9), (7, 7, 2), (7, 7, 4), (7, 7, 6), (7, 7, 8), (7, 7, 10), (7, 8, 1), (7, 8, 3), (7, 8, 5), (7, 8, 7), (7, 8, 9), (7, 9, 2), (7, 9, 4), (7, 9, 6), (7, 9, 8), (7, 9, 10), (7, 10, 1), (7, 10, 3), (7, 10, 5), (7, 10, 7), (7, 10, 9), (8, 1, 1), (8, 1, 3), (8, 1, 5), (8, 1, 7), (8, 1, 9), (8, 2, 2), (8, 2, 4), (8, 2, 6), (8, 2, 8), (8, 2, 10), (8, 3, 1), (8, 3, 3), (8, 3, 5), (8, 3, 7), (8, 3, 9), (8, 4, 2), (8, 4, 4), (8, 4, 6), (8, 4, 8), (8, 4, 10), (8, 5, 1), (8, 5, 3), (8, 5, 5), (8, 5, 7), (8, 5, 9), (8, 6, 2), (8, 6, 4), (8, 6, 6), (8, 6, 8), (8, 6, 10), (8, 7, 1), (8, 7, 3), (8, 7, 5), (8, 7, 7), (8, 7, 9), (8, 8, 2), (8, 8, 4), (8, 8, 6), (8, 8, 8), (8, 8, 10), (8, 9, 1), (8, 9, 3), (8, 9, 5), (8, 9, 7), (8, 9, 9), (8, 10, 2), (8, 10, 4), (8, 10, 6), (8, 10, 8), (8, 10, 10), (9, 1, 2), (9, 1, 4), (9, 1, 6), (9, 1, 8), (9, 1, 10), (9, 2, 1), (9, 2, 3), (9, 2, 5), (9, 2, 7), (9, 2, 9), (9, 3, 2), (9, 3, 4), (9, 3, 6), (9, 3, 8), (9, 3, 10), (9, 4, 1), (9, 4, 3), (9, 4, 5), (9, 4, 7), (9, 4, 9), (9, 5, 2), (9, 5, 4), (9, 5, 6), (9, 5, 8), (9, 5, 10), (9, 6, 1), (9, 6, 3), (9, 6, 5), (9, 6, 7), (9, 6, 9), (9, 7, 2), (9, 7, 4), (9, 7, 6), (9, 7, 8), (9, 7, 10), (9, 8, 1), (9, 8, 3), (9, 8, 5), (9, 8, 7), (9, 8, 9), (9, 9, 2), (9, 9, 4), (9, 9, 6), (9, 9, 8), (9, 9, 10), (9, 10, 1), (9, 10, 3), (9, 10, 5), (9, 10, 7), (9, 10, 9), (10, 1, 1), (10, 1, 3), (10, 1, 5), (10, 1, 7), (10, 1, 9), (10, 2, 2), (10, 2, 4), (10, 2, 6), (10, 2, 8), (10, 2, 10), (10, 3, 1), (10, 3, 3), (10, 3, 5), (10, 3, 7), (10, 3, 9), (10, 4, 2), (10, 4, 4), (10, 4, 6), (10, 4, 8), (10, 4, 10), (10, 5, 1), (10, 5, 3), (10, 5, 5), (10, 5, 7), (10, 5, 9), (10, 6, 2), (10, 6, 4), (10, 6, 6), (10, 6, 8), (10, 6, 10), (10, 7, 1), (10, 7, 3), (10, 7, 5), (10, 7, 7), (10, 7, 9), (10, 8, 2), (10, 8, 4), (10, 8, 6), (10, 8, 8), (10, 8, 10), (10, 9, 1), (10, 9, 3), (10, 9, 5), (10, 9, 7), (10, 9, 9), (10, 10, 2), (10, 10, 4), (10, 10, 6), (10, 10, 8), (10, 10, 10)]

### 딕셔너리 컴프리헨션

In [ ]:
ids = [1, 2, 3, 4, 5]
names = ['송인성', '김한주', '윤지영', '한로로', '김뜻돌']

# zip() 함수로 두 리스트를 병령로 가져오면서, name 앞에 '학생_' 붙이기
student_names = {id : '학생_' + name for id, name in zip(ids, names)}
print(f'{student_names = }')

student_names = {1: '학생_송인성', 2: '학생_김한주', 3: '학생_윤지영', 4: '학생_한로로', 5: '학생_김뜻돌'}

### set 컴프리헨션

In [52]:
# 1부터 10까지 순차적으로 x에 대입하고,
# 1부터 10까지 순차적으로 y에 대입하여 x + y의 값이 7보다 큰 경우의 x + y에 대한 리스트 생성

sum_list = [x + y for x in range(1, 11) for y in range(1, 11) if x + y > 7]

# 리스트 출력. 중복된 값이 있음
print(f'{sum_list = }')

# # 1부터 10까지 순차적으로 x에 대입하고,
# 1부터 10까지 순차적으로 y에 대입하여 x + y의 값이 7보다 큰 경우의 x + y에 대한 set 생성
sum_set = {x + y for x in range(1, 11) for y in range(1, 11) if x + y > 7}

# set 출력. 중복된 값이 없음
print(f'{sum_set = }')

sum_list = [8, 9, 10, 11, 8, 9, 10, 11, 12, 8, 9, 10, 11, 12, 13, 8, 9, 10, 11, 12, 13, 14, 8, 9, 10, 11, 12, 13, 14, 15, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
sum_set = {8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}